// Colors
$blue: #008FC1;
$white: #fff;

// Main site colors
$primary-color: $blue;

// Fonts
// Font sizes:
  // Headers:
$h1: 3.2rem;
$h1-mobile: 2.4rem;
$h2: 2.4rem;
$h2-mobile: 1.8rem;

  // Common sizes:
$base-font: 1.9rem;
