:host {
  flex: 0 1 400px;
  margin: 10px;
}

mat-card {
  display: flex;
  flex-direction: column;
  min-height: 500px;
}

.spacer {
  flex-grow: 1;
}

.mat-card-header .mat-card-title {
  margin-bottom: 20px;
}
